@model IEnumerable<UkrainianHouse.Models.MaterialOperations>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
    }

        .styled-table thead tr {
            background-color: #434645;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            column-width: auto;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #111111;
            }

            .styled-table tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }
</style>

<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.operationdetails.OperationId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectdetails.ProjectId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectdetails.ProjectName)

            </th>

            <th>
                @Html.DisplayNameFor(model => model.operationdetails.Material)

            </th>

            <th>
                @Html.DisplayNameFor(model => model.operationdetails.Count)

            </th>


            <th>
                Price per unit
            </th>

            <th>
                @Html.DisplayNameFor(model => model.datedetails.CalendarDate)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.operationdetails.OperationId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.projectdetails.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectdetails.ProjectName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.materialdetails.MaterialName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.operationdetails.Count)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.materialdetails.Price)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.datedetails.CalendarDate)
                </td>


            </tr>
        }
    </tbody>


</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
