@model IEnumerable<UkrainianHouse.Models.ProjectLocation>

@{
    ViewData["Title"] = "Projects details";
}

<h1>Details</h1>

<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
    }

        .styled-table thead tr {
            background-color: #434645;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            column-width: auto;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #111111;
            }

            .styled-table tbody tr.active-row {
                font-weight: bold;
                color: #009879;
            }
</style>

<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.projectsdetails.ProjectId)

            </th>

            <th>
                @Html.DisplayNameFor(model => model.projectsdetails.ProjectName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectsdetails.ProjectStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectsdetails.LocationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.locationsdetails.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.locationsdetails.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectsdetails.Location)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.projectsdetails.ProjectId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectsdetails.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectsdetails.ProjectStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.locationsdetails.LocationId)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.locationsdetails.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.locationsdetails.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.locationsdetails.Address)
                </td>

                
            </tr>
        }
    </tbody>


</table>

<div>
    <a asp-action="Index">Back to List</a>
</div>
