@model IEnumerable<UkrainianHouse.Models.ProjectLocation>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.projectsdetails.ProjectName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectsdetails.ProjectStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.projectsdetails.Location)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.projectsdetails.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.projectsdetails.ProjectStatus)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.locationsdetails.Address)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.projectsdetails.ProjectId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.projectsdetails.ProjectId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.projectsdetails.ProjectId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
