@model IEnumerable<UkrainianHouse.Models.AccountingEmployee>

@{
    ViewData["Title"] = "Accounting";
}

<h1>Accounting</h1>

<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
    }

        .styled-table thead tr {
            background-color: #434645;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            column-width: auto;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: #f3f3f3;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #111111;
            }
</style>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="styled-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.accountingdetails.TransactionId)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.accountingdetails.Salary)

            </th>

            <th>
                @Html.DisplayNameFor(model => model.employeedetails.EmployeeId)

            </th>

            <th>
                @Html.DisplayNameFor(model => model.employeedetails.FirstName)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeedetails.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeedetails.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeedetails.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.employeedetails.ActiveFlag)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.datedetails.CalendarDate)

            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.accountingdetails.TransactionId)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.accountingdetails.Salary)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.employeedetails.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeedetails.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeedetails.LastName)
            </td>


            <td>
                @Html.DisplayFor(modelItem => item.employeedetails.Phone)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.employeedetails.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.employeedetails.ActiveFlag)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.datedetails.CalendarDate)
            </td>




            <td style=" width:125px">
                <a asp-action="Edit" asp-route-id="@item.accountingdetails.TransactionId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.accountingdetails.TransactionId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

